<h1>Hi, <%= @user.name %></h1>

<p>
  We're so glad you decided to signup for Coachstr. We're excited to help you build, manage, and distribute your drills and practice plans.
</p>

<p>
  <%= link_to "Coachstr", root_url %>
</p>
