* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/background2.png");
    font-family: 'Oswald', sans-serif;
    /*background: cornflowerblue;*/
}

.newFont {
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
}

.jumbotron {
    background: linear-gradient(to right, darkorange 0%, orange 100%);
}

.signinCard {
    /*width: 500px;*/
}

#signinImage {
    height: 100%;
}

.btn-floating {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.leftColumn {
    /*background: red;*/
}

.rightColumn {
    /*background: orange;*/
}

.horizontalCard {
    /*height: 200px;*/
}

/*.horizontalCardImage {
    height: 100%;
}*/

.cardFab {
    position: absolute;
    bottom: 50px;
}

.backButton {
    display: block;
}

.planItems {
    cursor: pointer;
    margin-top: 27px;
}

.deletePlanItem {
    cursor: pointer;
}

.savePlan {
    background-color: lightgray;
    cursor: pointer;
}