* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/background2x.png");
    /*background: cornflowerblue;*/
}

img {
    width: 100%;
}

.jumbotron {
    background: linear-gradient(to right, darkorange 0%, orange 100%);
}

.signinCard {
    /*width: 500px;*/
}

#signinImage {
    height: 100%;
}

.btn-floating {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.leftColumn {
    background: red;
}

.rightColumn {
    background: orange;
}